body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #555555;
    font-weight: 400;
    margin: 1em 0 0;
    overflow: hidden;
    overflow-y: auto;}

section, header, footer {
    max-width: 1140px;
    margin: auto;}

section {padding: 4vw 0 1em;}

.background-color--primary, .background-color--secondary {padding: 0 1em;}

.background-color--secondary {background-color: #f7f7ff;}

/*nadpisy*/
.title {color: #0b0b15;}

.section__title {
    position: relative;
    z-index: 1;}

.section__title::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #ff9301;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: -0.1rem;
    left: -0.5rem;
    opacity: 40%;
    z-index: -1;}

/*HEADER*/
/*hlavička - nadpis a podnapis*/
header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;}

.grid__item--left {margin-right: 10em;}

.greeting {font-size: 20px;} 

h1 {
    font-size: 6em;
    font-weight: 900;
    margin: -40px 0 0;}

.subtitle--primary, .subtitle--secondary {color: #ff9301;}

.subtitle--primary {
    font-size: 2em;
    font-weight: 900;
    margin-top: -20px;}

.introduction {margin: 0 auto 1em;}

/*navigace*/
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 3em -15em 3em 0;}

.nav__item {
    display: inline-block;
    margin-right: 20px;}

/*navigace - oranžová čára*/
.nav__item--active {
    text-decoration: none;
    color: #555555;
    position: relative;}

.nav__item--active:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: orange;}

/*velký avatar*/
.avatar--primary {
    width: 23rem;
    margin: 0 1rem -7px;}

.avatar__wrapper--primary {position: relative;}

.avatar__wrapper--primary::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #ff9301;
    opacity: 50%;
    border-radius: 50%;
    width: 70rem;
    height: 70rem;
    top: -35rem;
    left: -10rem;
    z-index: -1;}

/*SEKCE BIOGRAPHY*/
.flex__text {
    display: flex;
    gap: 5em;}

/*malý avatar - rozmístění a stylování popisku*/
.avatar__wrapper--secondary, .avatar__caption {
    display: flex;
    flex-direction: column;
    align-items: center;}

.avatar__wrapper--secondary {
    position: relative;
    z-index: 1;}

.avatar__caption--item {
    margin: 0.5em auto 0em;
    font-size: 2em;}

.avatar--secondary {
    width: 13em;
    background-color: #ff9301;
    border-radius: 50%;
    z-index: -1;}

/*vlnková čára*/
.section__divider {
    background-image: url(podklady/border-dark.png);
    max-width: 1140px;
    height: 6px;
    background-size: contain;
    margin: 4vw auto 0;}

/*SEKCE WHAT I DO*/
/*umístění a velikost*/
.article__icon {
    padding: 1em 2em 2em;
    width: 75px;}

.article__text {padding: 0 2em;}

 /*oranžové kolečko za ikonami*/
.flex__item--primary {
    position: relative;
    z-index: 1;
    overflow: hidden;}

.flex__item--primary::after {
    content: " ";
    display: inline-block;
    position: absolute;
    background-color: #ff9301;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    top: -5rem;
    left: -2rem;
    z-index: -1;}

/*SEKCE WHAT I DO + SEKCE AWARDS - rozmístění*/
.flex--primary, .flex--secondary {
    display: flex;
    gap: 1em;
    margin: 1em;
    justify-content: space-evenly;}

.flex__item--primary, .flex__item--secondary {
    background-color: white;
    border-radius: 0.5em;}

/*SEKCE AWARDS*/
.flex__item--secondary {
    width: 100%;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;}

.img-trophy {
    width: 50px;
    margin: auto;}

/*SEKCE EXPERIENCE*/
/*experience item - rozmístění a vizualizace (mezery a tak)*/
.article__grid--inner {
    background-color: #f7f7ff;
    border-radius: 0.5em;
    padding: 2em 2em 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1em;
    align-items: center;}

.article__time {
    display: flex;
    flex-direction: column;}

.article__divider {
    border-left: 1px solid #eeeeee; 
    padding-left: 2em;}

/*doba trvání ("tlačítka") u jednotlivých položek*/
.button__duration {
    color:white;
    border-radius: 0.5em;
    font-size: 0.9em;
    padding: 5px;
    width: fit-content;}

.button__duration--primary {background-color: #ff9301;}

.button__duration--secondary {background-color: #555555;}

/*SEKCE MY PORTFOLIO*/
/*rozmístění*/
.grid--flexible {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 1em;}

.project__image {max-width: 100%;}

/*nadpis a datum projektů*/
.project__title {margin-bottom: -5px;}

.project__date {font-size: 0.9em;}

/*SEKCE CONTACT*/
/*rozmístění (adresa a formulář)*/
.section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;}

/*stylování položek adresy*/
address {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1em;
    align-items: center;}

.address__icon--secondary {margin-left: -2px;}

.address__icon--tertiary {margin-left: 2px;}

.address__link {
    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    color:#0b0b15;
    margin-left: -3em;}

/*formulář - rozmístění*/
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;}

/*formulář - vizualizace*/
.form__item {
    padding: 1.2em;
    border: 1px solid #bbbbbb;}

.form__item--secondary {
    grid-column: span 2;
    font-family: "Roboto", sans-serif;}

.form__item--button {
    color: white;
    background-color: #0b0b15;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    border-radius: 0.5em;
    width: fit-content;
    padding: 1em;}

/*mapa*/
.map {
    border: 3px solid white;
    width: 100%;
    height: 300px;
    filter: grayscale(100%);
    margin: 2em auto 1em;}

/*FOOTER*/
.footer__divider {border-bottom: 1px solid #eeeeee;}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    padding: 0 2em;}

.socmed-icon {
    width: 30px;
    margin: 10px 10px auto auto;}

/*RESPONZIVITA*/
@media (width <1080px) {
    .avatar--primary {
        width: 20rem;
        margin-right: -2em;}

    .avatar__wrapper--primary::after{
        width: 50rem;
        height: 50rem;
        top: -25rem;
        left: -10rem;}}

/*středně velké/medium*/
@media (width <960px) {
    section, header {padding: 2vw 1em 0;}

    .grid__item--left {margin-right: auto;}

    .subtitle--primary {margin-bottom: 10px;}

    .avatar__wrapper--primary {display: none;}

    .flex__text {
        flex-direction: column;
        gap: 1em;}

    .section__divider {margin: 2vw 1em 0;}

    .flex--primary {
        display: flex;
        flex-direction: column;}

    .section__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;}

    .address__link {margin-left: -5em;}}

@media (width <760px) {.address__link { margin-left: -4em;}}

/*malé/small*/
@media (width <560px) {
    header {display: block;}

    .navigation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 -1em 1em;}

    .nav__item {
        color: black;
        background-color: #ff9301;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        margin: 0.5em;
        text-align: center;}

    .flex__text {padding: 1em;}

    .flex--primary {margin: 0;}

    .flex--secondary {
        flex-direction: column;
        padding-bottom: 4vw;
        margin: 0;}

    .flex__item--secondary {
        flex-flow: row nowrap;
        align-items: center;
        padding: 1em 0;
        margin: 0;}

    .img-trophy {margin: 0 1em;}

    .article__grid--inner {
        grid-template-columns: 1fr;
        padding: 1em 1em 0;}

    .article__divider {
        border: none;
        padding: 0;}

    address {
        grid-template-columns: 1fr 3fr;
        padding-bottom: 1em;}

    .form {
        display: flex;
        flex-direction: column;}

    footer {
        flex-direction: column;
        align-items: center;}

    .socmed-icon {margin: 10px 5px 0;}

    .copyright-notice {margin: 0 auto 10px;}}